@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MvcBookStore.Models.SACH>


@helper Truncate(string input, int length)
    {
if (input.Length < length)
{
        @input
}
else
{
        @input.Substring(0,length)<text>...</text>
}
}
@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản Lý Thông Tin Sách</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Themmoisach")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px">Tên Sách</th>
        <th style="width:100px">Giá Bán</th>
        <th style="width:300px">Mô tả</th>
        <th style="width:120px">Ảnh bìa</th>
        <th style="width:150px">Ngày Cập Nhật</th>
        <th style="width:120px">SL Bán</th>
        <th style="width:120px">Tên Chủ Đề</th>
        <th style="width:100px">Tên NXB</th>
        <th style="width:200px"></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dongia)
        </td>
        <td>
            @Truncate(item.Mota,100)
        </td>
        <td>
          <img src="@Url.Content("~/HinhSanPham/"+item.Hinhminhhoa)" class="anhbia"/>
            <style >
                .anhbia{
                    width: 100px;
                    height: 150px;
                    display: block
                }
            </style>

        </td>
        <td>
         @Html.DisplayFor(modelItem => item.Ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluongban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Suasach", new { id=item.Masach }) |
            @Html.ActionLink("Chi Tiết", "ChitietSach", new { id=item.Masach }) |
            @Html.ActionLink("Xóa", "Xoasach", new { id=item.Masach })
        </td>
    </tr>
}

</table>
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model,page=>Url.Action("Sach",new { page=page}))
</div>
<style>
    .MenuTrang li{
        display: inline;
    }
</style>
